<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ZINLI TEST" >
    <test name="Android APP" >
        <parameter name="os" value="Android" />
        <classes>
            <class name ="AndroidTestRunner"></class>
        </classes>
    </test>
  <!--  <test name="IOS APP" >
        <parameter name="environment" value="iPhone_7"/>
        <parameter name="os" value="IOS" />
        <parameter name="mode" value="Local" />
        <classes>
            <class name ="IOSTestRunner"></class>
        </classes>
    </test>-->
</suite>